.footer{
  position: relative;
  background-image: url("../images/pie-de-pagina.jpg");
  background-size: cover;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0,0,0,0.2);
  }
  .footer-container{
    padding: 36px 0;
  }
  h2{
    position: relative;
    display: block;
    margin-bottom: 48px;
    &:after{
      content: "";
      width: 48px;
      height: 2px;
      bottom: -16px;
      left: 50%;
      background-color: #00f0fd;
      position: absolute;
      margin-left: -24px;
    }
  }
  h3
  .contact {
    margin-bottom: 30px;
  }
  h4 {
    text-transform: none;
    font-weight: bold;
    margin-bottom: 1em;
  }
  .views-field-nothing {
    .row {
      margin-bottom: 2em;
    }
  }
}
.ciudad-1{
  text-align: right;
  border-right: solid 1px;
}

@media screen and (max-width: 640px){
  .ciudad-1{
    text-align: center;
  }
}
.ciudad-2{
  text-align: left;
}
@media screen and (max-width: 640px){
  .ciudad-2{
    text-align: center;
  }
}
.bottom-bar{
  font-size: 0.8em;
  padding: 12px;

}